.container {
  background-color: rgba(250, 250, 250, 0);
  height: 250px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 45px;
  border-style: inset;
  border-color: rgb(0, 0, 0);
}

.blueBox {
  background-color: blue;
  width: 70px;
  height: 70px;
  z-index: 1; /*weil war hinter dem grünen */
  position: absolute;
  margin-left: 100px;
  margin-top: 90px;
}

.box {
  margin: 5px;
  position: relative;
  background-color: green;
  width: 100px;
  height: 100px;
  left: 30%;
}

.redBox {
  position: absolute;
  bottom: 0;
  background-color: red;
  width: 20px;
  height: 20px;
}

.lilaBox {
  background-color: violet;
  height: 150px;
  width: 150px;
  left: 48%;
  top: 80%;
  position: absolute;
}
